.flex-container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

label i {
    @include box(50px, 50px, 0.5rem, 100%);
    @extend .flex-container-center;
    display: flex !important;
}