@use 'colors' as *;
@use 'mixins' as *;
@use 'design' as *;


form {
    color: $black;
    @extend .blurredeffect;
    @include flexbox(column, nowrap, 1rem);
    @include box(600px, auto, 3rem, 30px);

    label {
        @include box(100%, auto, 1rem, 30px);
        @include flexbox(row, nowrap, 1rem);
        background-color: white;

        i {
            @include box(50px, 50px, 0.5rem, 100%);
            width: 50px;
            background-color: $black;
        }

        input {
            border: none;
        }
    }
}